Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Libarary Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        threshold: 0%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        target: 80%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

ignore:
  - "shared"
  - "native"
  - "libs/**/*Test*/*"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

# PR comment layout
comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/SalesforceAnalytics/"
    - component_id: SalesforceSDKCommon
      name: Common
      paths: 
        - "libs/SalesforceSDKCommon/SalesforceSDKCommon/"
    - component_id: SalesforceSDKCore
      name: Core
      paths: 
        - "libs/SalesforceSDKCore/SalesforceSDKCore/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/SmartStore/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/MobileSync/"

No need to click save after doing Import config (and same thing with simulated discovery results) -> saving on a few taps
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigEditor.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/DiscoveryResultEditor.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginOptionsPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LoginWithRestartTests.swift
Due: Core

Revert "No need to click save after doing Import config (and same thing with simulated discovery results) -> saving on a few taps"
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigEditor.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/DiscoveryResultEditor.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginOptionsPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LoginWithRestartTests.swift
Due: Core

Moving away from using paste board - is problematic if running multiple tests in parallel
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigEditor.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/DiscoveryResultEditor.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester.xctestplan
  native/SampleApps/AuthFlowTester/AuthFlowTester/Classes/SceneDelegate.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginOptionsPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

No longer turning off animations - didn't quite work Saving a few taps here and there.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigEditor.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/DiscoveryResultEditor.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester.xctestplan
  native/SampleApps/AuthFlowTester/AuthFlowTester/Classes/AppDelegate.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginOptionsPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

Adding retry on failure in test plans. Locally running the command gets 59/65 to pass (last 6 pass if retried in xcode) and take 1700s
  native/SampleApps/AuthFlowTester/AuthFlowTester.xctestplan
Due: none

add deprecation message.
  libs/MobileSync/MobileSync/Classes/Instrumentation/SFMobileSyncSyncManager+Instrumentation.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFInstrumentation.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFMethodInterceptor.h
Due: Core, MobileSync

Re-register for push notifications when migrating refresh token
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/PushNotificationManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/Mocks/MockRestClient.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
Due: Core

Switching to docc
  build/build_doc.xml
  docs/generate_docs.sh
  readme.md
Due: none

Rollback SFRestAPI block changes
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/RestClient+Blocks.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/RestClient.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI+Blocks.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI+Blocks.m
Due: Core

Having issues locally running just one test with the second configuration - so going back to using -only-testing for PRs
  .github/workflows/pr.yaml
  .github/workflows/reusable-ui-test-workflow.yaml
  .github/workflows/ui-test-nightly.yaml
  native/SampleApps/AuthFlowTester/AuthFlowTester.xctestplan
Due: none

Handling regular auth login and advanced auth login slightly differently to reduce flappiness
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

Fix Native Login.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/NativeLogin/NativeLoginManagerInternal.swift
Due: Core

Fix for publication step
  .github/workflows/reusable-ui-test-workflow.yaml
Due: none

Temporary change for testing
  .github/workflows/nightly.yaml
Due: none

Fixing new generate_docs.sh
  readme.md
Due: none

Fixing generate_docs.sh
  docs/generate_docs.sh
Due: none

Fixing paths issues
  docs/generate_docs.sh
Due: none

Only keeping support for github pages
  docs/generate_docs.sh
Due: none

Removing unused code in generate_docs.sh
  docs/generate_docs.sh
Due: none

Attempting to fix publish step
  .github/workflows/reusable-ui-test-workflow.yaml
Due: none

Adding debug statements
  .github/workflows/reusable-ui-test-workflow.yaml
Due: none

Add logs to dientify stale task callbacks
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
Due: Core

@W-21415593: Fixing retry race condition
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFRestAPIDataTaskRaceTests.m
Due: Core

Trying to fix test results publishing
  .github/workflows/reusable-ui-test-workflow.yaml
Due: none

Bringing back test results parsing
  .github/workflows/reusable-ui-test-workflow.yaml
Due: none

Back to running all UI tests in nightly runs
  .github/workflows/reusable-ui-test-workflow.yaml
Due: none

From Xcode 15.3 on, only environment variables whose names start with TEST_RUNNER_ are passed from the host into the test runner.
  .github/workflows/reusable-ui-test-workflow.yaml
Due: none

SFRestAPI stress test
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFNetwork.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFNetwork.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFRestAPITokenRefreshStressTests.swift
Due: Core

Tests on CI were not dismissing keyboards when expected
  .github/workflows/nightly.yaml
  .github/workflows/pr.yaml
  .github/workflows/ui-test-nightly.yaml
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
Due: none

Adjusting time outs
  .github/workflows/nightly.yaml
  .github/workflows/pr.yaml
  .github/workflows/ui-test-nightly.yaml
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
Due: none

Longer timeout Back to the test matrix (otherwise run take more than 3h)
  .github/workflows/nightly.yaml
  .github/workflows/pr.yaml
  .github/workflows/reusable-ui-test-workflow.yaml
  .github/workflows/ui-test-nightly.yaml
Due: none

Going back to single runner - multi-runners running for more than 4 hours
  .github/workflows/nightly.yaml
  .github/workflows/ui-test-nightly.yaml
Due: none

Scheduled for Monday and Wednesday evening
  .github/workflows/nightly.yaml
  .github/workflows/ui-test-nightly.yaml
Due: none

Splitting test suites LegacyLoginTests into LegacyLoginTests and LegacyLoginTestsNotHybrid
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ECALoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LegacyLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LegacyLoginTestsNotHybrid.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

New test: migrate CA (user agent) to Beacon (web server)
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RefreshTokenMigrationTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

Adding new tests: - login with invalid client id in dynamic configuration - login with invalid scope in dynamic configuration
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ECALoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/UITestConfigUtils.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

Discovery simulation is only shown in login options when running automated tests
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/LoginOptionsViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

Adding multi users tests where one user logs out (refresh token is therefore revoked)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
Due: none

Adding migration test with auth flow type change (user agent to web server) Using accessibility identifier to auth flow type toggles
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/AuthFlowTypesView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/AUTOMATED_TEST_SCENARIOS.md
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginOptionsPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RefreshTokenMigrationTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: Core

Not checking long doc
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/AUTOMATED_TEST_SCENARIOS.md
Due: none
