Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

Adding a unit test
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
Due: Core

A unit test to exercise (some of) migrateRefreshToken.
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
Due: none

Additional tests for better coverage
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthInfoTests.m
Due: none

Not crashing if bringing up dev infos before logging in
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
Due: Core

Dev menu now has a Login Options button to bring up a screen to change login flow type or even boot config. NB: the view code was moved out of AuthFlowTester into SalesforceSDKCore.
  SalesforceSDKCore.podspec
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigEditor.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigPickerViewController.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/FlowTypesView.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/NativeLogin/NativeLoginManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/NativeLogin/NativeLoginManagerInternal.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/SalesforceSDKCore.h
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  native/SampleApps/AuthFlowTester/AuthFlowTester/Classes/SceneDelegate.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/InitialViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
Due: Core

Adding supports welcome discovery in login options screen
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/AuthFlowTypesView.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigPickerViewController.swift
Due: Core

When fixing groups in Xcode - I lost the public visibility on some header files
  SalesforceSDKCore.podspec
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/SalesforceSDKCore.h
Due: Core

Showing login options during advanced auth also
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
Due: Core

Adding some tests
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKManagerTests.m
Due: Core

Converting dev infos screen to swift UI - now it's in action sheet
  SalesforceSDKCore.podspec
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Views/DevInfoViewController.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Views/SFSDKDevInfoViewController.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Views/SFSDKDevInfoViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/SalesforceSDKCore.h
Due: Core

Fixing warnings
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/AuthFlowTypesView.swift
Due: Core

Removing unnecessary if #available
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigPickerViewController.swift
Due: Core

Support for sections in dev info
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Views/DevInfoViewController.swift
Due: Core

More infos in the dev menu Also info is grouped in sections for better readability
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SmartStore/SmartStore/Classes/SmartStoreSDKManager.m
Due: Core, SmartStore

Restart authentication after presenting login options
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager+Internal.h
Due: Core

For now - not showing login options when doing advanced auth
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
Due: Core

Adding tests
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DevInfoViewControllerTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKManagerTests.m
Due: none

Removing references to ThirdPartyDependencies (I thought I did that already !)
  libs/MobileSync/Configuration/MobileSync-Common.xcconfig
  libs/MobileSync/MobileSync.xcodeproj/project.pbxproj
  libs/SmartStore/Configuration/SmartStore-Common.xcconfig
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
Due: none

Making sure we don't try and insert a nil in the dev info array
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
Due: Core

Fixing compilation errors on vision os Addressing warning (declared but not defined function)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigPickerViewController.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Views/DevInfoViewController.swift
Due: Core

Attempting to fix the test flapping
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKIdentityTests.m
Due: none

Tests to improve coverage of new view classes
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/BootConfigPickerViewController.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Views/DevInfoViewController.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BootConfigPickerViewControllerTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DevInfoViewControllerTests.swift
Due: Core

Another (low value) test for coverage
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/AuthFlowTypesViewTests.swift
Due: none

Tests to cover change to SmartStoreSDKManager
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
  libs/SmartStore/SmartStoreTests/SmartStoreSDKManagerTests.m
Due: Core

Removed low value tests
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BootConfigPickerViewControllerTests.swift
Due: none

More time for test that use expectations
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/AuthFlowTypesViewTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BootConfigPickerViewControllerTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DevInfoViewControllerTests.swift
Due: none

Changed identity test to check the parsing of a row response (instead of doing the actual call to the server which was flapping)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKIdentityTests.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKIdentityTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKManagerTests.m
Due: none

Changing failing test - error should be easier to read
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DomainDiscoveryCoordinatorTests.swift
Due: none

Refactor REST API tests to use block-based patterns
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFNativeRestRequestListener.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFNativeRestRequestListener.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKURLCacheTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: Core

Surface network error for actionable notifications
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/PushNotificationManager+ActionableNotifications.swift
Due: Core

Beginning of UI tests for AuthFlowTester
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthorizationPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/ChangeKeyPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/AuthFlowTesterLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BaseAuthFlowTesterTest.swift
Due: none

Fix actionable notifications options
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/PushNotificationManager+ActionableNotifications.swift
Due: Core

Showing all the user credentials information Not masking empty values Grouping user credentials in sections
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/InfoSectionView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/UserCredentialsView.swift
Due: none

User credentials not collapsing when a request is run Request success shown in alert / response collapsed by default
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/RestApiTestView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/UserCredentialsView.swift
Due: none

Showing login options in login settings menu (when dev support is enabled)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
Due: Core

Login options label
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: none

Basic test brings up login options and set the static configuration if needed
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/AuthFlowTesterLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BaseAuthFlowTesterTest.swift
Due: none

Fix callbacks for RestAPI
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
Due: Core

Login tests: - default scopes, subset or all scopes - ECA issuing JWT or not - Web server flow or user agent flow
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/InfoRowView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/ChangeKeyPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/AuthFlowTesterLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BaseAuthFlowTesterTest.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/TestConfigUtils.swift
Due: none

Speeding up tests and checking SIDs (for hybrid flows)
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/JwtAccessView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/JwtTokenView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/UserCredentialsView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/AuthFlowTesterLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BaseAuthFlowTesterTest.swift
Due: none

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/SalesforceAnalytics/, but not: shared, native, libs/**/*Test*/*
  Common: any of: libs/SalesforceSDKCommon/SalesforceSDKCommon/, but not: shared, native, libs/**/*Test*/*
  Core: any of: libs/SalesforceSDKCore/SalesforceSDKCore/, but not: shared, native, libs/**/*Test*/*
  SmartStore: any of: libs/SmartStore/SmartStore/, but not: shared, native, libs/**/*Test*/*
  MobileSync: any of: libs/MobileSync/MobileSync/, but not: shared, native, libs/**/*Test*/*
