Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Libarary Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        threshold: 0%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        target: 80%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

ignore:
  - "shared"
  - "native"
  - "libs/**/*Test*/*"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

# PR comment layout
comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/SalesforceAnalytics/"
    - component_id: SalesforceSDKCommon
      name: Common
      paths: 
        - "libs/SalesforceSDKCommon/SalesforceSDKCommon/"
    - component_id: SalesforceSDKCore
      name: Core
      paths: 
        - "libs/SalesforceSDKCore/SalesforceSDKCore/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/SmartStore/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/MobileSync/"

fix(tests): check LoginViewController nav bar, not WebView text field, for WebView modality
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ForceAdvancedAuthTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

fix(tests): login User A via WebView so BW flag is absent in testAdvancedAuthUser_HasBWFlag_RegularAuthUser_DoesNot
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
Due: none

docs(ios): update overview.md — add InAppWebView tests to LegacyLoginTests; add missing class entries
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

fix(tests): use empty string for opaque tokenFormat check, matching dev (was 'Opaque')
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

fix(telemetry): preserve B-markers through refresh token migration (same guard as BW)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

fix(tests): add isMultiUser:true to switchToUserAndValidate in static-config multi-user tests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
Due: none

fix(tests): add isRtr param to restartAndValidateUser; pass isRtr:true in RTR restart tests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RTRLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

fix(tests): compute and pass expectedBMarker/LMarker in switchToUserAndValidateUser
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

fix(tests): thread usesWelcomeDiscovery through assertRevokeAndRefreshWorks
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

fix(tests): compute expectedBMarker/LMarker in public assertRevokeAndRefreshWorks overload
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

feat(W-23201582): surface App Attestation state in developer info screen
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DevInfoViewControllerTests.swift
Due: Core

fix(W-23201582): move App Attestation tests inside DevInfoViewControllerTests class
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DevInfoViewControllerTests.swift
Due: none

fix(auth): preserve per-user AA flag on token refresh (W-23616382)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKAppFeatureMarkersTests.m
Due: Core

refactor(W-23201582): rename 'Feature Flag (AA)' to 'Used in Last Auth' in dev info
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DevInfoViewControllerTests.swift
Due: Core

feat(telemetry): add A1-A5/TM/JT/OT/BN per-user feature flag markers (W-23762052)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKAppFeatureMarkers.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKAppFeatureMarkers.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKAppFeatureMarkersTests.m
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

test(ui): wire expectedAMarker into all validateUserAgent call sites (W-23762052)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RTRLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

test(ui): wire isBeacon into validate() for beacon app assertions (W-23762052)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/UITestConfigUtils.swift
Due: none

fix(ui-test): pass isJwt/isBeacon through assertRevokeAndRefreshWorks (W-23762052)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

test(ui): add multi-user A-marker leakage detection tests (W-23762052)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RefreshTokenMigrationTests.swift
Due: none

docs(ui-test): update overview.md and spec with new multi-user tests (W-23762052)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

refactor(ui-test): rename flag-diversity tests with descriptive flow names (W-23762052)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RefreshTokenMigrationTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

fix(tests): pass isBeacon/isJwt through restart validation path in LoginWithRestartTests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

feat(security): remove RSA PKCS1 cipher mode fallback (W-19320491)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/SFSDKPushNotificationDecryption.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/CryptoUtilsTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationDecryptionTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKEncryptedPushNotificationTests.m
Due: Core

fix(tests): fix validateUserAgent flag assertions across all AuthFlowTester test classes (W-23762052)
  SalesforceSDKCore.podspec
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ECALoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RTRLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RefreshTokenMigrationWithRestartTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

fix(auth): preserve TM flag across token refresh; fix DPoP migration BW expectation (W-23762052)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
Due: Core

fix(auth): clear TM from global feature store after every auth completion (W-23762052)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

fix(test): fix testMigrateOneUserOnly race condition and wasMigrated assertion
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/UserCredentialsView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RefreshTokenMigrationTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

fix(dpop): gate proof attachment on per-credential state
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPKeyStore.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPRequestDecorator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthSessionRefresher.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthSessionRefresherTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Classes/AppDelegate.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

applied feedback from PR.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPKeyStore.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPRequestDecorator.swift
Due: Core

fixed test.
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: none

feat(auth): add auth_trigger and sdkInfo params to native browser authorize URL
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuthConstants.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.m
Due: Core

fix(auth): exclude WebView user agent from sdkInfo authorize param
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.m
Due: Core

Add auth_trigger and sdkInfo params to native browser authorize URL (#4128)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuthConstants.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.m
Due: Core

feat(W-23815423): add applyAuthHeaders(_:credentials:) and make shouldAttachDPoP public
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPRequestDecorator.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

fix(W-23836436): allow dpop_jkt on login pool servers
  CLAUDE.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/UITestConfigUtils.swift
  shared/test/ui_test_config.json.sample
Due: Core

fix(W-23836436): address PR review items on dpop-jkt-pool-servers
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

fix(W-23836436): remove accidental NSLog debug statement from SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
Due: Core

fix(W-23695429): escape single quotes in SmartSQL IN-clause record IDs
  libs/MobileSync/MobileSync/Classes/SyncTarget.swift
  libs/MobileSync/MobileSync/Classes/Target/SFSyncTarget.m
Due: MobileSync

fix(W-23622931): escape single quotes in SmartSQL json_extract path and FTS MATCH value
  libs/SmartStore/SmartStore/Classes/SFQuerySpec.m
  libs/SmartStore/SmartStore/Classes/SFSmartSqlHelper.m
Due: SmartStore

docs+test(W-23864247): skip pool server DPoP test; add AuthFlowTester README
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/README.md
Due: none
