Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Libarary Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        threshold: 0%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        target: 80%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

ignore:
  - "shared"
  - "native"
  - "libs/**/*Test*/*"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

# PR comment layout
comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/SalesforceAnalytics/"
    - component_id: SalesforceSDKCommon
      name: Common
      paths: 
        - "libs/SalesforceSDKCommon/SalesforceSDKCommon/"
    - component_id: SalesforceSDKCore
      name: Core
      paths: 
        - "libs/SalesforceSDKCore/SalesforceSDKCore/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/SmartStore/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/MobileSync/"

Add Unit and UI tests.
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKCoreTests-Bridging-Header.h
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LoginForAdminTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

Add tests wth SFUserAccountManager.
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
Due: none

Add more tests.
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
Due: none

Cleaner let from review feedback.
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

Merge pull request #4022 from brandonpage/login-for-admin
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthRequest.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthSession.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKCoreTests-Bridging-Header.h
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LoginForAdminTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

Merge pull request #4022 from brandonpage/login-for-admin (#4024)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthRequest.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthSession.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKCoreTests-Bridging-Header.h
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LoginForAdminTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

Update SQLCipher to 4.15.0
  SmartStore.podspec
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
  libs/SmartStore/SmartStoreTests/SFSmartStoreTests.m
Due: none

Update podfile script
  mobilesdk_pods.rb
Due: none

Add skill for upgrading
  .claude/skills/update-sqlcipher/SKILL.md
Due: none

Update MobileSyncExplorer
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer.xcodeproj/project.pbxproj
Due: none

Update spec source
  mobilesdk_pods.rb
Due: none

Add public API to trigger Login for Admin flow.
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
Due: Core

Improve code documentation for loginViewControllerDidSelectLoginForAdmin.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
Due: Core

Add public API to trigger Login for Admin flow. (#4026)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
Due: Core

Putting back SalesforceSDKCommon.
  mobilesdk_pods.rb
Due: none

Add public API to trigger Login for Admin flow. (#4026) (#4028)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
Due: Core

reregister users.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/PushNotificationManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: Core

nit.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/PushNotificationManager.swift
Due: Core

fixt test.
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: none

Remove duplicate performLoginForAdmin method introduced by merge conflict resolution
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
Due: none

avoid force unwrap.
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: none

Update SQLCipher to 4.16.0
  .claude/skills/update-sqlcipher/SKILL.md
  SmartStore.podspec
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
  libs/SmartStore/SmartStoreTests/SFSmartStoreTests.m
  mobilesdk_pods.rb
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer.xcodeproj/project.pbxproj
Due: none

Add RTR login UI tests and supporting config
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RTRLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/UITestConfigUtils.swift
  shared/test/ui_test_config.json.sample
Due: none

Update overview.md for RTRLoginTests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

Add W-22512846 known-failure note to JWT RTR hybrid tests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RTRLoginTests.swift
Due: none

Verify rotated refresh token works after restart in RTR tests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RTRLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

Restore auth flow types after restart to fix testECAJwtRtr_NoHybrid_WithRestart
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

Cleaning up performLogin methods - also fixing advanced auth welcome tests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

Update LoginPageObject for login screen changes.
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
Due: none

Fix hardcoded log level
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Logger/SFLogger.m
Due: Common

Change default loading behavior and deprecate property
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

Hide navigation bar on native login view presentation
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/NativeLoginManagerTests.swift
Due: Core

add back test helper.
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/NativeLoginManagerTests.swift
Due: none

Mobile SDK 13.2.1
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

Add option to automatically present biometric opt-in and lock
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BiometricAuthenticationManagerTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/URLSessionTask+RetryPolicyTests.swift
Due: Core

nit.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BiometricAuthenticationManagerTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/URLSessionTask+RetryPolicyTests.swift
Due: Core

cover automaticPresentation branch in lock() via handleAppForeground()
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BiometricAuthenticationManagerTests.swift
Due: none
