Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

New PageObject for AuthFlowTypes to avoid code duplication Import button to set auth flow types by providing a JSON string (toggling was not working all the time)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/AuthFlowTypesView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTypesPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginOptionsPageObject.swift
Due: Core

New unit tests for AuthFlowViewTypesView
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/AuthFlowTypesView.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/AuthFlowTypesViewTests.swift
Due: Core

Configure UI test reports to exclude retries and group by suite
  .github/workflows/reusable-ui-test-workflow.yaml
Due: none

Updating MobileSyncExplorer to use UIScene lifecycle
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer.xcodeproj/project.pbxproj
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer/Classes/AppDelegate.m
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer/Classes/SceneDelegate.h
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer/Classes/SceneDelegate.m
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer/MobileSyncExplorer-Info.plist
Due: none

Add CLAUDE.md
  CLAUDE.md
Due: none

new list view.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKLoginHostTests.m
Due: Core

update after code review.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKLoginHostTests.m
Due: Core

Update
  CLAUDE.md
Due: none

Adding completing callback to resetSessionCookie()
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/WebViewStateManager.swift
Due: Core

Fix advanced auth login keyboard interaction
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
Due: none

Add nil key guards to SFSDKSafeMutableDictionary
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFSDKSafeMutableDictionary.m
Due: Common

Change case of SfapAPI directory name
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SfapAPI/ChatGenerationsRequestBody.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SfapAPI/ChatGenerationsResponseBody.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SfapAPI/EmbeddingsRequestBody.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SfapAPI/EmbeddingsResponseBody.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SfapAPI/FeedbackRequestBody.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SfapAPI/FeedbackResponseBody.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SfapAPI/GenerationsRequestBody.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SfapAPI/GenerationsResponseBody.swift
Due: Core

Update documentation to reference External Client App
  CLAUDE.md
Due: none

Enhance README with library details, usage examples, and build instructions
  readme.md
Due: none

Simplify README - remove lengthy code examples
  readme.md
Due: none

Further shorten iOS README to match Android length
  readme.md
Due: none

Reference README from CLAUDE.md to reduce duplication
  CLAUDE.md
Due: none

Remove Identity Scope check.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Identity/SFIdentityCoordinator.m
Due: Core

Remove duplicate setup instructions from Building from Source section
  readme.md
Due: none

Fix iOS 18 advanced auth UI tests and add iOS 18 to CI
  .github/workflows/pr.yaml
  .github/workflows/ui-test-nightly.yaml
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
Due: none

Fixing comment
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
Due: none

Lower AuthFlowTester deployment target to iOS 17.0 and add iOS 17 to UI nightly tests
  .github/workflows/ui-test-nightly.yaml
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
Due: none

Mobile SDK 13.2.0
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
Due: Core

Updating version numbers to 14.0.0
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

Bump minimum to iOS 18
  CLAUDE.md
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Packaging-Dynamic.xcconfig
  install.sh
  libs/MobileSync/MobileSync.xcodeproj/project.pbxproj
  libs/SalesforceAnalytics/SalesforceAnalytics.xcodeproj/project.pbxproj
  libs/SalesforceSDKCommon/SalesforceSDKCommon.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/UIDevice+SFHardware.m
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
  mobilesdk_pods.rb
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer.xcodeproj/project.pbxproj
  native/SampleApps/RestAPIExplorer/RestAPIExplorer.xcodeproj/project.pbxproj
  readme.md
Due: Core

Remove iOS 17 from CI flows
  .github/workflows/nightly.yaml
  .github/workflows/reusable-build-workflow.yaml
  .github/workflows/reusable-test-workflow.yaml
  .github/workflows/reusable-ui-test-workflow.yaml
  .github/workflows/ui-test-nightly.yaml
Due: none

Skill for bumping version
  .claude/skills/update-ios-deployment-target/SKILL.md
Due: none

Include CI update in skill
  .claude/skills/update-ios-deployment-target/SKILL.md
Due: none

Switch to #Preview macro for SwiftUI views
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/ScreenLock/ScreenLockUIView.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Storage/KeyValueEncryptedFileStoreInspector.swift
Due: Core

Update LoginPageObject for login screen changes.
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
Due: none

Removing signpost
  SalesforceSDKCore.podspec
  configuration/Configuration-Debug.xcconfig
  libs/MobileSync/MobileSync/Classes/Instrumentation/SFMobileSyncSyncManager+Instrumentation.h
  libs/MobileSync/MobileSync/Classes/Instrumentation/SFMobileSyncSyncManager+Instrumentation.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFInstrumentation.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFInstrumentation.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFMethodInterceptor.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFRestAPI+Instrumentation.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFRestAPI+Instrumentation.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFSDKInstrumentationHelper.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFSDKInstrumentationHelper.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFUserAccountManager+Instrumentation.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFUserAccountManager+Instrumentation.m
  libs/SmartStore/SmartStore/Classes/Instrumentation/SFSmartStore+Instrumentation.h
  libs/SmartStore/SmartStore/Classes/Instrumentation/SFSmartStore+Instrumentation.m
  mobilesdk_pods.rb
Due: Core, SmartStore, MobileSync

Remove instrumentation file references from Xcode projects
  libs/MobileSync/MobileSync.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Instrumentation/SFMethodInterceptor.m
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
Due: Core

Remove instrumentation imports from umbrella header
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/SalesforceSDKCore.h
Due: Core

Remove instrumentation import from MobileSync umbrella header
  SalesforceSDKCore.podspec
  libs/MobileSync/MobileSync/MobileSync.h
Due: MobileSync

More build fixes
  MobileSync.podspec
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKLogoutBlocker.m
Due: none

Remove deprecated code
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  libs/SalesforceSDKCommon/SalesforceSDKCommon.xcodeproj/project.pbxproj
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFTestContext.h
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFTestContext.m
  libs/SalesforceSDKCommon/SalesforceSDKCommon/SalesforceSDKCommon.h
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/WebViewStateManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthRequest.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthSession.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Test/SFSDKAsyncProcessListener.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Test/SFSDKAsyncProcessListener.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.m
  libs/SalesforceSDKCore/SalesforceSDKCore/SalesforceSDKCore.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKManagerTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WebViewStateManagerTests.swift
Due: Common, Core

Fix compiler warnings in testLoginHostListViewControllerCreatesUniqueInstances
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKLoginHostTests.m
Due: none

Add Login for Admin feature.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthRequest.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthSession.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/SalesforceAnalytics/, but not: shared, native, libs/**/*Test*/*
  Common: any of: libs/SalesforceSDKCommon/SalesforceSDKCommon/, but not: shared, native, libs/**/*Test*/*
  Core: any of: libs/SalesforceSDKCore/SalesforceSDKCore/, but not: shared, native, libs/**/*Test*/*
  SmartStore: any of: libs/SmartStore/SmartStore/, but not: shared, native, libs/**/*Test*/*
  MobileSync: any of: libs/MobileSync/MobileSync/, but not: shared, native, libs/**/*Test*/*
