Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Libarary Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        threshold: 0%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        target: 80%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

ignore:
  - "shared"
  - "native"
  - "libs/**/*Test*/*"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

# PR comment layout
comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/SalesforceAnalytics/"
    - component_id: SalesforceSDKCommon
      name: Common
      paths: 
        - "libs/SalesforceSDKCommon/SalesforceSDKCommon/"
    - component_id: SalesforceSDKCore
      name: Core
      paths: 
        - "libs/SalesforceSDKCore/SalesforceSDKCore/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/SmartStore/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/MobileSync/"

docs: clarify SafariVC test name uses ASWebAuthenticationSession in practice
  native/SampleApps/AuthFlowTester/README.md
Due: none

refactor(test): rename SafariVC admin login test to use Browser
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/README.md
Due: none

test(W-23622931): add unit tests for single-quote escaping in json_extract and MATCH
  libs/SmartStore/SmartStoreTests/SFQuerySpecTests.m
  libs/SmartStore/SmartStoreTests/SFSmartSqlTests.m
Due: none

fix(security/W-23622931): escape single quote in indexSpec.path at registerSoup sink
  libs/SmartStore/SmartStore/Classes/SFSmartStore.m
Due: SmartStore

feat(dpop): in-place upgrade to DPoP + per-call DPoP intent on token migration
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthRequest.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthSession.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

Fix wrong-user token revocation in migrateRefreshToken
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
Due: Core

Support biometric authentication with advanced authentication
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/LoginHost/SFSDKLoginHostListViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BiometricAdvancedAuthGateTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKLoginHostTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
Due: Core

Improve test coverage for biometric advanced-auth fallback
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BiometricAdvancedAuthGateTests.swift
Due: Core

Fall back to browser login when biometric is unavailable at prompt time
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BiometricAdvancedAuthGateTests.swift
Due: Core

docs(authflowtester): explain why DPoP-enforced rejection asserts absence-of-main-page
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

Scope biometric browser-auth suppression per scene
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BiometricAdvancedAuthGateTests.swift
Due: Core

docs(authflowtester): note LegacyLoginTests is the Bearer compatibility suite
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
  native/SampleApps/AuthFlowTester/README.md
Due: none

feat(auth): default DPoP on for new logins in MSDK 14
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LegacyLoginTests.swift
Due: Core

fix(setVersion.sh): use base version for C macro name to support pre-release versions
  setversion.sh
Due: none

docs(authflowtester): fix README drift in DPoPLoginTests and ECALoginTests
  native/SampleApps/AuthFlowTester/README.md
Due: none

test(W-23836436): add non-DPoP pool server login test and fix forceAdvancedAuthentication passthrough
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ECALoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

docs(W-23836436): mark AppRestart DPoP test as skipped in AuthFlowTester README
  native/SampleApps/AuthFlowTester/README.md
Due: none

Support biometric authentication with advanced authentication (#4136)
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/LoginHost/SFSDKLoginHostListViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/BiometricAdvancedAuthGateTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKLoginHostTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
Due: Core

fix: expose consumeBrowserAuthenticationSuppression as public
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
Due: Core

[iOS] SFUserAccountManager.m calls internal Swift method invisible to framework/CocoaPods consumers (#4141)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Security/BiometricAuthentication/BiometricAuthenticationManagerInternal.swift
Due: Core

feat(auth): add downgradeFromDPoP for in-place DPoP→Bearer migration
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/README.md
Due: Core

refactor(auth): centralize DPoP token-type check as single source of truth
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPRequestDecorator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

test(auth): re-enable DPoP pool server test; fix L1 marker expectation
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/README.md
Due: none

test(auth): propagate useDPoP through launchAndLogin, loginOtherUser, and validate
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

docs(auth): sync AuthFlowTester README and overview with actual test suite
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
  native/SampleApps/AuthFlowTester/README.md
Due: none

docs(auth): consolidate AuthFlowTester docs — merge overview into README, delete overview.md
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
  native/SampleApps/AuthFlowTester/README.md
Due: none

docs(auth): fix README errors found by verification pass
  native/SampleApps/AuthFlowTester/README.md
Due: none

fix(dpop): handle 400 use_dpop_nonce on revoke path after cold restart (W-23501382)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestRequest+Internal.h
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/README.md
Due: Core

docs(auth): remove internal story reference from AuthFlowTester README
  native/SampleApps/AuthFlowTester/README.md
Due: none

fix(auth): guard migrateRefreshToken dispatch_async against stale sessions (W-23992574)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
Due: Core

test(auth): add DPoP + RTR + pool-server safety-net test (W-23991713)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
Due: none

docs(auth): add DPoP RTR pool-server test to README (W-23991713)
  native/SampleApps/AuthFlowTester/README.md
Due: none

docs(auth): drop W-number from DPoP RTR pool-server test README entry
  native/SampleApps/AuthFlowTester/README.md
Due: none

fix(AuthFlowTester): update isRtr to treat beacon apps as RTR (W-23971480)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/UITestConfigUtils.swift
Due: none

Mobile SDK 14.0.0-rc.0
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

Updating version numbers to 14.0.0
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

Deprecate useWebServerAuthentication (OAuth user agent flow)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/DevConfig/AuthFlowTypesView.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/AuthFlowTypesViewTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKManagerTests.m
Due: Core

Speed up AuthFlowTester UI login server selection
  native/SampleApps/AuthFlowTester/AuthFlowTester.xctestplan
  native/SampleApps/AuthFlowTester/AuthFlowTester/Classes/AppDelegate.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Supporting Files/Info.plist
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

test: cap AuthFlowTester retries at one
  native/SampleApps/AuthFlowTester/AuthFlowTester.xctestplan
Due: none
