Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Libarary Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        threshold: 0%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        target: 80%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

ignore:
  - "shared"
  - "native"
  - "libs/**/*Test*/*"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

# PR comment layout
comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/SalesforceAnalytics/"
    - component_id: SalesforceSDKCommon
      name: Common
      paths: 
        - "libs/SalesforceSDKCommon/SalesforceSDKCommon/"
    - component_id: SalesforceSDKCore
      name: Core
      paths: 
        - "libs/SalesforceSDKCore/SalesforceSDKCore/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/SmartStore/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/MobileSync/"

Don't show summary if all tests passed.
  .github/workflows/reusable-test-workflow.yaml
Due: none

no message
  .github/workflows/reusable-test-workflow.yaml
Due: none

CI Updates (#3962)
  .github/workflows/nightly.yaml
  .github/workflows/pr.yaml
  .github/workflows/reusable-build-workflow.yaml
  .github/workflows/reusable-test-workflow.yaml
Due: none

Add test for queue replay
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/RestClientTest.swift
Due: none

Revert CI is_pr removal.
  .github/workflows/pr.yaml
  .github/workflows/reusable-build-workflow.yaml
  .github/workflows/reusable-test-workflow.yaml
Due: none

Add access token revoke request to SDK
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/RestClient.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/RestClientTest.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/RevokeView.swift
Due: Core

Scopes were not passed through during migration
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthSession.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

During restart in some login tests Adding rollbacks in several migration tests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BaseAuthFlowTesterTest.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BeaconLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ECALoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LegacyLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MigrationTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

Only failures are migration from beacon app. Getting a 403 when invoking the single access bridge API with a beacon app access token (file a bug with auth team).
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MigrationTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

Allow login back button to mirror for RTL
  shared/resources/SalesforceSDKAssets.xcassets/globalheader-back-arrow.imageset/Contents.json
Due: none

Better name for property
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DomainDiscoveryCoordinatorTests.swift
Due: Core

Add welcome discovery flag instead of having hardcoded consumer keys
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
Due: Core

Add test
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DomainDiscoveryCoordinatorTests.swift
Due: Core

Fix actionable notifications options
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Extensions/PushNotificationManager+ActionableNotifications.swift
Due: Core

Have all remove calls go through flushPendingRequestQueue
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
Due: Core

Fix callbacks for RestAPI
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
Due: Core

Remove welcome discovery flag
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/DomainDiscoveryCoordinatorTests.swift
Due: Core

Remove welcome from default server list
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/LoginHost/SFSDKLoginHostStorage.m
  shared/resources/SalesforceSDKResources.bundle/en.lproj/Localizable.strings
Due: Core

Add user agent to token calls
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthSession.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFNetworkTests.m
Due: Core

Advanced authentication testing
  .gitignore
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/AdvancedAuthBeaconLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BaseAuthFlowTesterTest.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BeaconLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ECALoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LegacyLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MigrationTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/UITestConfigUtils.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/ui_test_config.json.sample
Due: none

Switching to LSC only in tests that use advanced auth
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/AdvancedAuthBeaconLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BaseAuthFlowTesterTest.swift
Due: none

When testing refresh token migration, using import button to specify the new app config (faster and more reliable)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
Due: none

Moved clean up post advanced auth at launch time to reduce tests flappiness (especially when running all the tests at once)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/AdvancedAuthBeaconLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/BaseAuthFlowTesterTest.swift
Due: none

Updating overview.md
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/overview.md
Due: none

Mobile SDK 13.1.1
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

Fix logout & switch user actions in RestAPIExplorer
  native/SampleApps/RestAPIExplorer/RestAPIExplorer/ViewControllers/RootViewController.swift
Due: none

New feature flag of welcome discovery (WC). Also moved all flag definitions for SalesforceSDKCore to SFSDKAppFeatureMarkers.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Analytics/SFSDKSalesforceAnalyticsManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKAppFeatureMarkers.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKAppFeatureMarkers.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController+QrCodeLogin.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccount.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFManagedPreferences.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuthConstants.h
Due: Core

Using WD for new flag instead of WC - since it's only for Welcome Discovery login flows
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKAppFeatureMarkers.m
Due: Core

Install.sh populate bootconfig.plist for sample apps from environment variables (if defined)
  .gitignore
  install.sh
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer/bootconfig.plist
  native/SampleApps/RestAPIExplorer/RestAPIExplorer/bootconfig.plist
  shared/bootconfig.plist.sample
  shared/test/test_credentials.json.sample
Due: none

Add deprecation markers for unused classes
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFTestContext.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Test/SFSDKAsyncProcessListener.h
Due: Common

Shorter place holder values
  install.sh
  shared/bootconfig.plist.sample
  shared/test/test_credentials.json.sample
Due: none

Running install.sh will write over bootconfig.plist
  install.sh
Due: none

Simplifying install.sh
  install.sh
Due: none

More consistent naming
  install.sh
  shared/bootconfig.plist.sample
  shared/test/test_credentials.json.sample
Due: none

Renaming variable to line up with field name in bootconfig
  install.sh
  shared/bootconfig.plist.sample
Due: none

Lining up test_credentials.json.sample with Android's
  shared/test/test_credentials.json.sample
Due: none

Update default REST API version to v66.0
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/RestApiTestView.swift
Due: Core

Moving ui_test_config.json to shared/test
  .gitignore
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  shared/test/ui_test_config.json.sample
Due: none
