Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

[iOS] Stabilize flaky UI test testCAOpaque_DefaultScopes_WebServerFlow (#4070)
  native/SampleApps/AuthFlowTester/AuthFlowTester/Classes/SceneDelegate.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

Add nil-check assertions to UntilEmpty polling helpers
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: none

Handle nil records in UntilEmpty verification without hard-failing
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: none

Use instanceUrl host when refreshing OAuth tokens
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCredentials.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKOAuth2RefreshInstanceUrlTests.m
Due: Core

Address reviewer feedback: consistency improvements
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: none

Fix push register/unregister not respecting user parameter for preferences
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/PushNotificationManager.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/PushNotification/RemoteNotificationRegistering.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFPushNotificationManagerTests.m
Due: Core

Add expectation to test
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: none

Keep old test names
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFPushNotificationManagerTests.m
Due: none

Update SalesforceSDKCoreTestApp to use scene lifecycle
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCoreTestApp/Base.lproj/Main_iPad.storyboard
  libs/SalesforceSDKCore/SalesforceSDKCoreTestApp/Base.lproj/Main_iPhone.storyboard
  libs/SalesforceSDKCore/SalesforceSDKCoreTestApp/SalesforceSDKCoreTestApp-Info.plist
  libs/SalesforceSDKCore/SalesforceSDKCoreTestApp/SalesforceSDKCoreTestApp.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTestApp/ViewController.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTestApp/ViewController.m
Due: none

Add Swift version to common config & consolidate
  configuration/Common.xcconfig
  libs/MobileSync/MobileSync.xcodeproj/project.pbxproj
  libs/SalesforceSDKCommon/SalesforceSDKCommon.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
  native/SampleApps/AuthFlowTester/AuthFlowTester.xcodeproj/project.pbxproj
  native/SampleApps/MobileSyncExplorer/MobileSyncExplorer.xcodeproj/project.pbxproj
  native/SampleApps/RestAPIExplorer/RestAPIExplorer.xcodeproj/project.pbxproj
Due: none

Add config for MobileSyncTestApp
  libs/MobileSync/MobileSync.xcodeproj/project.pbxproj
Due: none

Replace early-return guards with setContinueAfterFailure:NO
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: none

Extract shared polling helper for SOSL/SOQL retry methods
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: none

Work around SDK timezone bug in testUpdateWithIfUnmodifiedSince
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: none

cleanup.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Identity/SFIdentityCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPNonceCache.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPRequestDecorator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.m
  native/SampleApps/RestAPIExplorer/RestAPIExplorer/AppDelegate.swift
Due: Core

@W-23096603@ [iOS] Grant statuses:write so Danger can post required PR commit statuses
  .github/workflows/pr.yaml
Due: none

@W-23054065: [iOS] Stabilize flaky REST API and auth tests
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Test/TestSetupUtils.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKAuthUtilTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: none

Update after code review.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Identity/SFIdentityCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPRequestDecorator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

Fix Login for Admin and Welcome Discovery incompatability.
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthRequest.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKCoreTests-Bridging-Header.h
Due: Core

Add enable-dark-mode Claude Code skill
  .claude/skills/enable-dark-mode/SKILL.md
Due: none

Update SalesforceAnalyticsTestApp to use scene lifecycle
  libs/SalesforceAnalytics/SalesforceAnalytics.xcodeproj/project.pbxproj
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/AppDelegate.h
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/AppDelegate.m
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/Base.lproj/Main_iPad.storyboard
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/Base.lproj/Main_iPhone.storyboard
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/SalesforceAnalyticsTestApp-Info.plist
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/SalesforceAnalyticsTestApp.swift
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/ViewController.h
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/ViewController.m
  libs/SalesforceAnalytics/SalesforceAnalyticsTestApp/main.m
Due: none

Update MobileSyncTestApp to use scene lifecycle
  libs/MobileSync/MobileSync.xcodeproj/project.pbxproj
  libs/MobileSync/MobileSyncTestApp/AppDelegate.h
  libs/MobileSync/MobileSyncTestApp/AppDelegate.m
  libs/MobileSync/MobileSyncTestApp/Base.lproj/LaunchScreen.storyboard
  libs/MobileSync/MobileSyncTestApp/Base.lproj/Main.storyboard
  libs/MobileSync/MobileSyncTestApp/Info.plist
  libs/MobileSync/MobileSyncTestApp/MobileSyncTestApp.swift
  libs/MobileSync/MobileSyncTestApp/ViewController.h
  libs/MobileSync/MobileSyncTestApp/ViewController.m
  libs/MobileSync/MobileSyncTestApp/main.m
Due: none

Update SmartStoreTestApp to use scene lifecycle
  libs/SmartStore/SmartStore.xcodeproj/project.pbxproj
  libs/SmartStore/SmartStoreTestApp/AppDelegate.h
  libs/SmartStore/SmartStoreTestApp/AppDelegate.m
  libs/SmartStore/SmartStoreTestApp/Base.lproj/LaunchScreen.storyboard
  libs/SmartStore/SmartStoreTestApp/Base.lproj/Main.storyboard
  libs/SmartStore/SmartStoreTestApp/Info.plist
  libs/SmartStore/SmartStoreTestApp/SmartStoreTestApp.swift
  libs/SmartStore/SmartStoreTestApp/ViewController.h
  libs/SmartStore/SmartStoreTestApp/ViewController.m
  libs/SmartStore/SmartStoreTestApp/main.m
Due: none

Simplify DPoP nonce handling: drop resource-server reactive retry
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Identity/SFIdentityCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPNonceCache.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPRequestDecorator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Util/SFSDKOAuth2.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

Bail out when authorization header stamping fails
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Identity/SFIdentityCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

Address review: extract isDiscoveryDomain class method; fix test names
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WelcomeDiscoveryLoginHostTests.swift
Due: Core

Add missing @objc to isDiscoveryDomain class method
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
Due: Core

Deprecate instance isDiscoveryDomain(_:) in favor of class method
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WelcomeDiscoveryLoginHostTests.swift
Due: Core

Change URL for failed request test
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceRestAPITests.m
Due: none

Rename test class
  libs/SalesforceSDKCore/SalesforceSDKCore.xcodeproj/project.pbxproj
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/OAuthTokenEndpointTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/RestClientPublisherTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/RestClientTest.swift
Due: none

feat(W-23159740): per-user persistent feature flags (iOS)
  SalesforceSDKCore.podspec
  libs/MobileSync/MobileSync/Classes/Manager/SFMobileSyncSyncManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKAppFeatureMarkers.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKAppFeatureMarkers.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccount.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccount.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKAppFeatureMarkersTests.m
  libs/SmartStore/SmartStore/Classes/SFSmartStore.m
Due: Core, SmartStore, MobileSync

refactor(W-23159740): address bbirman PR review comments
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SFSDKAppFeatureMarkers.m
Due: Core

Deeper clean up for push notification tests
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/PushNotificationManagerTests.swift
Due: none

feat(W-23159740): display user agent in AuthFlowTester; add UA validation to UI tests
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/UserCredentialsView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

feat(W-23159740): validate UA in restart tests; verify flag persistence round-trip
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/LoginWithRestartTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RefreshTokenMigrationWithRestartTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

test(W-23159740): assert MU gone after second user logs out
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
Due: none

[iOS] Fix Login for Admin and Welcome Discovery incompatibility (#4078)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Login/SFLoginViewController.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DomainDiscoveryCoordinator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFSDKAuthRequest.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/LoginForAdminTests.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKCoreTests-Bridging-Header.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/WelcomeDiscoveryLoginHostTests.swift
Due: Core

refactor(W-23159740): avoid double UA fetch by splitting validateUserAgent into public/private overloads
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

test(W-23159740): add unit tests covering per-user feature flag new code paths
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKAppFeatureMarkersTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFUserAccountManagerTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKManagerTests.m
Due: Core

fix(W-23159740): check global WD flag at auth completion instead of re-deriving from credentials.domain
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
Due: Core

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/SalesforceAnalytics/, but not: shared, native, libs/**/*Test*/*
  Common: any of: libs/SalesforceSDKCommon/SalesforceSDKCommon/, but not: shared, native, libs/**/*Test*/*
  Core: any of: libs/SalesforceSDKCore/SalesforceSDKCore/, but not: shared, native, libs/**/*Test*/*
  SmartStore: any of: libs/SmartStore/SmartStore/, but not: shared, native, libs/**/*Test*/*
  MobileSync: any of: libs/MobileSync/MobileSync/, but not: shared, native, libs/**/*Test*/*
