Repository forcedotcom/SalesforceMobileSDK-iOS: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, Common, Core, SmartStore, MobileSync

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Libarary Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        threshold: 0%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        threshold: 0%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths: 
          - "libs/SalesforceAnalytics/SalesforceAnalytics/"
        flags: 
          - SalesforceAnalytics
      SalesforceSDKCommon:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCommon/"
        flags: 
          - SalesforceSDKCommon
      SalesforceSDKCore:
        target: 80%
        paths: 
          - "libs/SalesforceSDKCore/SalesforceSDKCore/"
        flags: 
          - SalesforceSDKCore
      SmartStore:
        target: 80%
        paths: 
          - "libs/SmartStore/SmartStore/"
        flags: 
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/MobileSync/"
        flags: 
          - MobileSync

ignore:
  - "shared"
  - "native"
  - "libs/**/*Test*/*"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

# PR comment layout
comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/SalesforceAnalytics/"
    - component_id: SalesforceSDKCommon
      name: Common
      paths: 
        - "libs/SalesforceSDKCommon/SalesforceSDKCommon/"
    - component_id: SalesforceSDKCore
      name: Core
      paths: 
        - "libs/SalesforceSDKCore/SalesforceSDKCore/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/SmartStore/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/MobileSync/"

Mobile SDK 14.0.0-rc.1
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

Updating version numbers to 14.0.0
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

Add concurrent REST scenarios to AuthFlowTester
  native/SampleApps/AuthFlowTester/AuthFlowTester/ViewControllers/SessionDetailViewController.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/RestApiTestView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ConcurrentRestRequestTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RTRLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/README.md
Due: none

Document concurrent REST request UI
  native/SampleApps/AuthFlowTester/README.md
  native/SampleApps/AuthFlowTester/Screenshots/concurrent-rest-request-error.png
  native/SampleApps/AuthFlowTester/Screenshots/concurrent-rest-requests.png
Due: none

Fix safe collection write starvation
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFSDKSafeMutableDictionary.m
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFSDKSafeMutableSet.m
  libs/SalesforceSDKCommon/SalesforceSDKCommonTests/SFSDKSafeMutableDictionaryTests.m
  libs/SalesforceSDKCommon/SalesforceSDKCommonTests/SFSDKSafeMutableSetTests.m
Due: Common

Address safe collection review feedback
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFSDKSafeMutableDictionary.m
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFSDKSafeMutableSet.h
  libs/SalesforceSDKCommon/SalesforceSDKCommon/Classes/Util/SFSDKSafeMutableSet.m
  libs/SalesforceSDKCommon/SalesforceSDKCommonTests/SFSDKSafeMutableDictionaryTests.m
  libs/SalesforceSDKCommon/SalesforceSDKCommonTests/SFSDKSafeMutableSetTests.m
Due: Common

Harden concurrent AuthFlowTester scenarios
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/RestApiTestView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/UserCredentialsView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ConcurrentRestRequestTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/DPoPLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/MultiUserLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/README.md
  native/SampleApps/AuthFlowTester/Screenshots/concurrent-rest-requests.png
Due: none

W-24224590 Select request authentication by path
  docs/auth/README.md
  docs/auth/token-lifecycle.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPRequestDecorator.swift
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestAPI.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/RestAPI/SFRestRequest.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFRestAPIDataTaskRaceTests.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

W-24226218: Deprecate TestSetupUtils instant auth helpers for removal in 15.0
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Test/TestSetupUtils.h
Due: none

W-24226218: Deprecate TestSetupUtils instant auth helpers for removal in 15.0 (#4176)
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Test/TestSetupUtils.h
Due: none

W-24237909: Restore iOS 26 UI nightly runner
  .github/workflows/ui-test-nightly.yaml
Due: none

Default UI-session Bearer path policy to false (no built-in path selection)
  docs/auth/token-lifecycle.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

fix(dpop): cache key pair to drop per-request keychain lookup and lock
  docs/auth/token-lifecycle.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPKeyStore.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

fix(dpop): clarify hasKeyPair contract; make cache regression test explicit
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPKeyStore.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

@W-24269743: Consolidate iOS RTR account lookups
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthSessionRefresher.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthSessionRefresherTests.m
Due: Core

@W-24269744: Bound the iOS DPoP nonce cache
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/DPoP/DPoPNonceCache.swift
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFSDKDPoPTests.swift
Due: Core

Mobile SDK 14.0.0-rc.2
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

fix(auth): stamp SDK User-Agent on login & refresh token requests so ftr_ markers are reported
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthSessionRefresher.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKManagerTests.m
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/RTRLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

fix(auth): resolve token-request UA against the credential owner, not the ambient current user
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKManager.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthSessionRefresher.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKManagerTests.m
Due: Core

Mobile SDK 14.0.0-rc.3
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

fix(auth): route the coordinator refresh through the shared single-flight refresher
  docs/auth/token-lifecycle.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.m
Due: Core

fix(auth): merge coalesced refresh result and preserve refresh authInfo
  docs/auth/token-lifecycle.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCredentials+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCredentials.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCoordinatorTests.m
Due: Core

fix(auth): make credential merge single-source its field set and carry the refresh change set
  docs/auth/token-lifecycle.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCredentials+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthCredentials.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthCredentialsTests.m
Due: Core

@W-23075121@: Add community login UI tests
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/CommunityLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/UITestConfigUtils.swift
  native/SampleApps/AuthFlowTester/README.md
  shared/test/ui_test_config.json.sample
Due: none

@W-23075121@: Community login UI tests: JWT no-DPoP pair, page-shape-aware login, scroll export above toolbar
  native/SampleApps/AuthFlowTester/AuthFlowTester/Supporting Files/Info.plist
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/CommunityLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/README.md
  shared/test/ui_test_config.json.sample
Due: none

@W-23075121@: Address review - re-select regular server when adding a regular user, assert community refresh endpoint, Bearer-then-DPoP relogin test
  native/SampleApps/AuthFlowTester/AuthFlowTester/Classes/AppDelegate.swift
  native/SampleApps/AuthFlowTester/AuthFlowTester/Views/UserCredentialsView.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/AuthFlowTesterMainPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/CommunityLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
  native/SampleApps/AuthFlowTester/README.md
Due: none

Log identity request attempts and refreshes (IDENTITY_ATTEMPTS)
  docs/auth/token-lifecycle.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Identity/SFIdentityCoordinator+Internal.h
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Identity/SFIdentityCoordinator.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SalesforceSDKIdentityTests.m
Due: Core

AuthFlowTester: add ECA opaque non-hybrid and pool server tests, update README
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/ECALoginTests.swift
  native/SampleApps/AuthFlowTester/README.md
Due: none

Mobile SDK 14.0.0
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
Due: Core

Updating version numbers to 14.0.1
  MobileSync.podspec
  SalesforceAnalytics.podspec
  SalesforceSDKCommon.podspec
  SalesforceSDKCore.podspec
  SmartStore.podspec
  configuration/Version.xcconfig
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/Common/SalesforceSDKConstants.h
  readme.md
Due: Core

Record refresh token rotation observed before the account exists and register RT after login
  docs/auth/token-lifecycle.md
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/OAuth/SFOAuthSessionRefresher.m
  libs/SalesforceSDKCore/SalesforceSDKCore/Classes/UserAccount/SFUserAccountManager.m
  libs/SalesforceSDKCore/SalesforceSDKCoreTests/SFOAuthSessionRefresherTests.m
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: Core

AuthFlowTester: remove leftover credentials dump from validate
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none

@W-24342940@: Address review comments (single-page community login form, seeded community host check, document RT marker limitation)
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/PageObjects/LoginPageObject.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Tests/CommunityLoginTests.swift
  native/SampleApps/AuthFlowTester/AuthFlowTesterUITests/Util/BaseAuthFlowTester.swift
Due: none
